<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Cadastrar</h1>
	<table>
	
		<form action="exibir_mensagem.html">
			
		<tr>
			<th> <p>Nome</p> </th>
			<th> <input type="text" name="nome"> </th>
		</tr>	
		<tr>
			<th> <p>Endereco</p> </th>
			<th> <input type="text" name="end"> </th>
		</tr>
		
		<tr>
			<th> <p>Telefone</p> </th>
			<th> <input type="text" name="telefone"> </th>
		</tr>			
		
		<tr>
			<th><input type="submit" value="Salvar"></th>
		</tr>
		
		
		</form>

	</table>
</body>
</html>
