<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<h1>Listar</h1>
	<table>
		<tr>
			<th>Nome</th>
			<th>End</th>
			
		</tr>
		{%for pessoa in lista:%}
			<tr>
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.endereco}}</td>
				<td>
					
					<form action="/form_alterar_pessoa.html" method="POST">
						<input type="submit" name="alterar" value="Alterar">
					</form>
				</td>
			</tr>
		{%endfor%}
	</table>
	<a href="form_inserir_pessoas.html">Inserir Pessoas</a>
	


</body>
</html>